openapi: "3.0.0"
info:
  version: 1.0.0
  title: PIBA MONGO Backend
  description: Population and Immigration Authority backend service used for Yael Google Apigee POC
  contact:
    name: Yael Software (Apigee)
    email: dmitryvo@yaelsoft.com
    url: https://yaelsoft.co.il
  license:
    name: private
    url: https://yaelsoft.co.il
servers:
  - url: "https://data.mongodb-api.com/app/data-rtoee/endpoint/data/v1/action"
    description: Retail backend for Developing APIs course
tags:
  - name: citizens
    description: Citizens of Israel
paths:
  /citizens/{citizenId}:
    get:
      summary: Get a citizen details
      operationId: getCitizenById
      tags:
        - citizen
      parameters:
        - name: citizenId
          in: path
          required: true
          description: citizen id
          schema:
            type: integer
      responses:
        '200':
          description: Selected citizen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        '404':
          description: Citizen not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    basicAuth:
      type: http
      description: basic auth
      scheme: basic

  schemas:
    Category:
      type: object
      description: product category
      required:
        - color
        - id
        - name
      properties:
        color:
          description: use this color for displaying this category
          type: string
        id:
          description: integer id (used for access)
          type: integer
          format: int32
          minimum: 0
        name:
          description: category name
          type: string
    Categories:
      type: array
      description: array of product categories
      items:
        $ref: "#/components/schemas/Category"
    Store:
      type: object
      description: store
      required:
        - id
        - name
        - site_type
      properties:
        adr:
          $ref: "#/components/schemas/Address"
        affiliate:
          description: affiliate name
          type: string
        id:
          description: integer id (NOT used for access)
          type: integer
          format: int32
          minimum: 0
        location:
          $ref: "#/components/schemas/Location"
        name:
          description: store name
          type: string
        phone:
          description: store phone number
          type: string
        site_type:
          description: type of site
          type: string
          enum:
            - store
            - warehouse
    Stores:
      type: object
      description: list of stores
      additionalProperties:
        $ref: "#/components/schemas/Store"
    Address:
      type: object
      description: store address
      required:
        - addr1
        - city
        - country
        - state
        - zip
      properties:
        addr1:
          description: street address 1
          type: string
        addr2:
          description: street address 2
          type: string
        city:
          description: city
          type: string
        country:
          description: country
          type: string
        state:
          description: state
          type: string
        zip:
          description: zip code
          type: string
    Location:
      type: object
      description: store location
      required:
        - latitude
        - longitude
      properties:
        latitude:
          description: latitude in decimal degrees
          type: number
          format: float
          minimum: -90
          maximum: 90
        longitude:
          description: longitude in decimal degrees
          type: number
          format: float
          minimum: -180
          maximum: 180
    Product:
      type: object
      description: product
      required:
        - category
        - image
        - name
        - overall_rating
        - product_name
        - short_description
      properties:
        category:
          description: category name
          type: string
        image:
          description: image url
          type: string
        name:
          description: product id
          type: string
        overall_rating:
          description: rating of product
          type: number
          format: float
        product_name:
          description: descriptive product name
          type: string
        short_description:
          description: short paragraph describing the product
          type: string
    ProductForUpdate:
      type: object
      description: product (updateable fields)
      required:
        - overall_rating
      properties:
        overall_rating:
          description: rating of product
          type: number
          format: float
    Products:
      type: object
      description: list of products
      additionalProperties:
        $ref: "#/components/schemas/Product"
    Order:
      type: object
      description: order request
      additionalProperties: true
    NewOrderResponse:
      type: object
      description: order response
      required:
        - name
      properties:
        name:
          description: string id (used for access)
          type: string
    DeleteOrderResponse:
      type: object
      nullable: true
    Error:
      type: object
      description: error response
      required:
        - error
        - error_description
      properties:
        error:
          type: string
        error_description:
          type: string
